<!DOCTYPE html>
<html>
  <head>
    <title>OdinKittens</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <% flash.each do |type, mes| %>
      <div class="alert alert-<%= type %>">
        <%=mes %>
      </div>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
